*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-lightblue-: #B4D0E6;
    --color-buttons-: #0061FE;
    --color-darkpurple-: #602045;
    --color-primary-: #FFFF; 
    --color-borders-: #F9F9F9;
    --color-footer-: #000000;
    --color-month-: #C9DFF0;
    
    --color-brand1-: #A2D39B;
    --color-brand2-: #62082C;
    --color-brand3-: #0193CE;
    --color-brand4-: #FE1C1D;
    --color-brand5-: #D50020;
    --color-brand6-: #B4D0E6;
    --color-brand7-: #0D2481;
    --color-brand8-: #FFD930;
    --color-logohover-: #D1E9CD;
    --color-middlesquare-: #F5F5F5; 

}

.debug{
    border: 3px solid var(--color-borders-);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

.d-flex{
    display: flex;
}

.nav-bar img{
    padding: 0px 5px;

}

.nav-bar{
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-primary-);
    box-shadow: 0px 10px 20px var(--color-month-);
}

nav:hover{
    cursor: pointer;
}

nav{
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 71px;
}

h2{
    font-size: 30px;
}

#hero{
    background-color: var(--color-lightblue-);
    padding-top: 70px;
}

.hero-position{
    position: relative;
    top: 60px;
}

.hero-left{
    width: 35%;
}

.hero-right{
    width: 65%;
}

#heroimg{
    width: 100%;
    display: block;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.flex-start{
    align-content: flex-start;
}

.relative{
    position: relative;
}

.block1{
    width: 300px;
    margin-top: 50px;
}

p{
    font-size: 16px;
}

a{
    color: var(--color-buttons-);
    cursor: pointer;
}

.p10-top{
    padding-top: 10px;
}

.p10-bot{
    padding-bottom: 10px;
}

.p40-bot{
    padding-bottom: 40px;
}

.p10-left{
    padding-left: 10px;
}

#logos .container{
    padding: 0;
}


.month{
    padding-bottom: 35px;
    color: var(--color-month-)

}

.text-indent{
    text-indent: -10px;
}

button{
    background: none;
    border: none;
    color: var(--color-primary-);
    background-color: var(--color-buttons-);
    padding: 15px 8px;
    margin: 20px 0px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 10px 20px var(--color-month-);
}

.button2{
    background: none;
    border: none;
    background-color: var(--color-primary-);
    color: black;
    padding: 15px 8px;
    cursor: pointer;
}

.buttonbox button{
    margin: 5px 15px;
}

.main-block button{
    width: 100%;
}

#arrow > i{
    font-size: 50px;
    position: relative;
    top: 90px;
    color: var(--color-footer-);
}

.block2{
    width: 800px;
    margin: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-block{
    width: calc(100% / 3);
    padding: 0px 20px;

}

.enterprise-block1{
    width: 80%;
}

.enterprise-block2{
    width: 20%;
    position: absolute;
    right: 25px;
    top: 50px;
}

.fa-solid{
    font-size: 12px;
}

.colonnemain2{
    margin: 50px 50px;
    font-size: 15px;
}

.circle{
    width: 2px;
    height: 2px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid var(--color-buttons-);
    background-color: var(--color-primary-);
    display: inline-block;
    margin-right: 3px;
}

.circle2{
    width: 2px;
    height: 2px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid var(--color-month-);
    background-color: var(--color-primary-);
    display: inline-block;
    margin-right: 3px;
    margin-left: 50px;
}

.topper{
    padding: 5px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid black;
}

.topper2{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.padding{
    padding: 15px;
}

.margin-top{
    margin-top: 80px;
}

.m20-top{
    margin-top: 30px;
}

.m40-leftright{
    margin: 0px 40px;
}

h4{
    padding: 10px 0px;
}

.fa-check{
    color: var(--color-buttons-);
}

.link{
    color: var(--color-buttons-);
}

.img-box{
    width: 60%;
}

.img-box img{
    width: 100%;
    display: block;
}

.paragraph-box{
    width: 40%;
    padding: 50px;
}

.border{
    border: 1px solid black;
}

.absolute-button{
    position: absolute;
    left: 50px;
}

.business{
    width: calc(100% / 3);
    padding: 20px 10px;
}

.business img{
    width: 100%;
}

.wrap{
    flex-wrap: wrap;
}

footer{
    background-color: var(--color-footer-);
    color: var(--color-primary-);
    width: 100%;
    padding: 15px;
}

ul{
    list-style: none;
    font-size: 13px;
    padding-bottom: 30px;
}

footer li{
    padding: 10px 0;
}

.square-brands{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.square-box{
    height: 50%;
    width: 50%;
    background-color: green;
}

.square-box img{
    width: 50%;
    display: block;
    object-fit: contain;
    color: var(--color-primary-);
    filter: brightness(0) invert(1);
}

.square1:hover{
    box-shadow: inset 0px 0px 0px 10px var(--color-logohover-);
    cursor: pointer;
}

.square2:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.square3:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.square4:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.square5:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.square6:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.square7:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.square8:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.centersquare:hover{
    box-shadow: 0px 10px 20px var(--color-footer-);
}

.middlesquare img{
    width: 50%;
    display: block; 
    padding: 30px;
}

.square1{
    background-color: var(--color-brand1-);
}

.square2{
    background-color: var(--color-brand2-);
}

.square3{
    background-color: var(--color-brand3-);
}

.square4{
    background-color: var(--color-brand4-);
}

.square5{
    background-color: var(--color-brand5-);
}

.square6{
    background-color: var(--color-brand6-);
}

.square7{
    background-color: var(--color-brand7-);
}

.square8{
    background-color: var(--color-brand8-);
}

.middlesquare{
    background-color: var(--color-middlesquare-);
    padding: 20px 30px;
    overflow: auto;
}

.square-annunce{
    width: 100%;
    height: 300px;
    background-color: var(--color-lightblue-);
    color: var(--color-darkpurple-);
}

.border-list{
    border-bottom: 1px solid var(--color-primary-);
}

/*accordion*/
#accordion li label{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#accordion label{
    height: 70px;
    border-bottom: 1px solid;
}

.border-top{
    border-top: 1px solid;
}

#arrow2{
    font-size: 17px;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    line-height: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    margin-top: 20px;
}

.title-footer{
    padding-bottom: 20px;
}

#accordion label + input[type="radio"]:hover + .content{
    max-height: 300px;
}

select{
    border: none;
    outline: none;
    background-color: var(--color-footer-);
    color: var(--color-month-);
}

.fa-earth-americas{
    color: var(--color-month-);
}